/*-- scss:defaults --*/
/*-- documentation: https://quarto.org/docs/output-formats/html-themes.html#dark-mode --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #c4654d;
$navbar-bg: #c4654d;

// Code blocks
$code-block-bg-alpha: -.8;