.content-block {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.swiper {
  width: 800px;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets{
    bottom: initial;
}

.swiper-pagination-bullet-active{
    background-color: #3B9AB2;
}

.swiper-button-prev, .swiper-button-next {
    color: #3B9AB2;
}

.image-quote {
  width: 100px;
  height: 100px;
  overflow: hidden; 
  border-radius: 50%;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.image-quote img {
  width: 100%;
  height: auto;
}