/* Buttons */
.btn-action-r {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 8px;
  background-image: url('../../assets/img/button-r-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left:16px;
  margin-right:16px;
  font-size: 32px; 
  color: #3B9AB2;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-action-r:hover {
  background-image: url('../../assets/img/button-r-blue.svg'); 
  color: #E1AF00;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.btn-action-python {
  width: 200px;
  height: 200px;
  border: none;
   border-radius: 8px;
  background-image: url('../../assets/img/button-python-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left:16px;
  margin-right:16px;
  font-size: 32px; 
  color: #E1AF00;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-action-python:hover {
  background-image: url('../../assets/img/button-python-orange.svg'); 
  color: #3B9AB2;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.content-block {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

/* quotes in swiper */
.swiper {
  width: 100%;
  height: auto;
  padding: 0px 0px 16px 0px;
}

.swiper-slide {
  width: 60%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets{
    bottom: initial;
}

.swiper-pagination-bullet-active{
    background-color: #3B9AB2;
}

.swiper-button-prev, .swiper-button-next {
    color: #3B9AB2;
}

.quote-image {
  width: 100px;
  height: 100px;
  overflow: hidden; 
  border-radius: 50%;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.quote-image img {
  width: 100%;
  height: auto;
}

.quote-author {
  font-size: 0.875em;
}

.quote-author p:nth-child(1) {
    margin-bottom: 12px;
}

.quote-author p:nth-child(2),
.quote-author p:nth-child(3) {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* team member cards */
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 0px 0px 32px 0px;
}

.team-member {
  border: none;
  display: grid;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.team-member img {
  width: 150px;
  height: 150px;
  overflow: hidden; 
  border-radius: 50%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.team-member h3 {
  font-size: 1.1em;
}

.team-member p {
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .team-grid {
        grid-template-columns: 1fr;
    }
    .team-member p {
      width: 75%;
    }
}


.team-member .team-member-cta {
  margin-top: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block; 
  text-align: right;
  color: var(--font-black);
}

.team-member:hover .team-member-cta,
.team-member:active .team-member-cta {
  text-decoration: underline;
}

.anchorjs-link {
  display: none;
}

/* CONTACT */

#form-container {
  position: relative;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
}

#contact-form label {
  margin-top: 16px;
  margin-bottom: 8px;
}

#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea {
  border: 1px solid #333;
  border-radius: 8px; 
  padding: 16px;
  font-size: 16px;
  max-width: 100%;
}

#contact-form input[type=submit] {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 160px;
}

#contact-form input[type=submit]:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  #contact-form input[type=submit] {
    width: 100%;
    max-width: 100%;
  }
}

#toast {
  display: none;
  position: absolute;
  bottom: 50%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  z-index: 1000; 
}

p#toast-message {
  margin-bottom: 0px;
}

/* workshop content */
.workshop {
  max-width: 800px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  border-radius: 0px;
}

.module {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.module:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.module-title {
  font-size: 1.75em;
  margin-bottom: 10px;
  color: #333;
}

.module-description {
  font-size: 1em;
  color: #333;
}
