/* css styles */
p.caption {
  color: #777;
  margin-top: 8px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* remove underline from links */
a {
  text-decoration: none; 
}

/* Headings ------------------------------------------------------ */
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 0px;
  padding-bottom: 0px;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

/* Table tools ----------------------------------------- */
.table-wrapper {
  overflow-x: scroll;
}

/* Buttons ----------------------------------------- */
.btn-action {
  min-width: 160px;
  border-radius: 32px;
  border: none;
  background-color: #3b9ab2;
  margin-left:16px;
  margin-right:16px;
}

.btn-action:hover {
  background-color: #333333;
}

/* Helpers ----------------------------------------- */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}