/*-- scss:defaults --*/
/*-- documentation: https://quarto.org/docs/output-formats/html-themes.html#dark-mode --*/
// Base document colors
$link-color: #3b9ab2;
$navbar-bg: #3b9ab2;

$code-color: black;