/*-- scss:defaults --*/
/*-- documentation: https://quarto.org/docs/output-formats/html-themes.html#dark-mode --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #3b9ab2;
$navbar-bg: #3b9ab2;

// Code blocks
$code-block-bg-alpha: -.8;
$code-color: white;
$code-bg: #424243;